#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: rgb(159, 210, 255);
  color: rgb(54, 53, 53);
  font-size: 18px;
}

p{
  color: #000000;
}


.card {
  padding: 2em;
}
